{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<div class="hl-container">
    <div class="hl-block">
    <h1>Bienvenue</h1>
        <p>
            Découvrez notre univers de produits durables et éthiques pour une consommation responsable
            <br/> <br/>
            Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter
        </p>
    </div>
    <div class="hl-block">
        <img src="{{ asset('img/home/hero-landing.png') }}" alt="Image de Bienvenue">
    </div>
</div>
    <h2 class="junction-title"> Nos Produits</h2>
    <div class="products-grid">
        {% for product in topSellingProducts %}
            <div class="product-card">
                <img src="{{ asset('img/products/' ~ product.picture) }}" alt="{{ product.name }}">
                <div class="product-info">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.shortDescription }}</p>
                    <p>Prix: {{ product.price }} €</p>
                    <a href="#">Voir le produit</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="value-section conviction-bg">
    <div class="value-block">
        <h3>Nos convictions</h3>
        <p>
            Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits qui allient qualité, durabilité et éthique
        </p>
    </div>
    <div class="value-image">
        <img src="{{ asset('img/home/home1.png') }}" alt="Illustration de nos convictions">
    </div>
    </div>

    <div class="value-section valeurs-bg">
        <div class="value-image">
            <img src="{{ asset('img/home/home2.png') }}" alt="Illustration de nos valeurs">
        </div>
        <div class="value-block">
            <h3>Nos valeurs</h3>
            <p>
                Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et favorisent la durabilité.
                <br/>Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos valeurs éthiques.
                <br/>Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les matériaux écologiques.
            </p>
        </div>

    </div>
{% endblock %}
