{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<div class="hl-container">
    <div class="hl-block">
    <h1>Bienvenue</h1>
        <p>
            Découvrez notre univers de produits durables et éthiques pour une consommation responsable
            <br/> <br/>
            Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter
        </p>
    </div>
    <div class="hl-block">
        <img src="{{ asset('img/home/hero-landing.png') }}" alt="Image de Bienvenue">
    </div>
</div>
    <h3> Nos Produits</h3>
    <div class="products-grid">
        {% for product in topSellingProducts %}
            <div class="product-card">
                <img src="{{ asset('img/products/' ~ product.picture) }}" alt="{{ product.name }}">
                <div class="product-info">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.shortDescription }}</p>
                    <p>Prix: {{ product.price }} €</p>
                    <a href="#">Voir le produit</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
