{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    <h2>Inscription</h2>
    {{ form_start(registrationForm) }}
    {{ form_rest(registrationForm) }}
    <button type="submit" class="button button-submit">S'inscrire</button>
    <a class="link-white" href="{{ path('app_login') }}">
        <p>Vous avez déjà un compte ? Connexion</p>
    </a>
    {{ form_end(registrationForm) }}
{% endblock %}
